# This file is redundant with setup.cfg;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on

cartopy >= 0.22
matplotlib >= 3.8
numpy >= 1.24
xarray >= 2023.9
